*{
    box-sizing: border-box;
}



ul {
    display: flex;
}


li {
    list-style: none;
    padding-right: 10px;
    padding-bottom: 10px;
}

.container  {
    padding: 80px 0;
}

.text--purple {
    color: rgb(100 21 255);
}

/* NAVBAR */

.navbar, 
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar__img {
    padding:10px;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.btn--signup {
    border-radius: 4px;
    background-color: blueviolet;
    color: white;
}

/* HEADER */

.login--details {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.login--img {
    display: flex;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    padding: 10px;
    align-items: center;
    width: calc(100%/3);
}

.feature--img {
    padding-right: 10px;
}

.heading, 
.subheading, 
.para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__img {
    width: 60%;
}


.faqs{
    margin: 0 auto;
}


.faq__lists {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.lastsec {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 1200px;
    justify-content: center;
}

/* FOOTER */

.footer__lists {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
}

.footer__list {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
}

.footer__listdown {
    display: flex;
    flex-direction: column;
    padding: 0;
}