@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  display: flex;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  padding: 80px 0;
}

.text--purple {
  color: rgb(100 21 255);
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

.navbar,
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__img {
  padding: 10px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.nav__logo--wrapper {
  width: 100%;
}

.nav__logo {
  width: 100%;
}

.nav__logo--title {
  padding-left: 15px;
  font-weight: 700;
}

.navbar__list {
  width: 100%;
  max-width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  transition: all 500ms ease;
}

.nav__anch {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 2px solid rgb(100, 21, 255, 0);
  transition: all 300ms ease;
}

.nav__anch:hover {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 2px solid rgb(100, 21, 255);
  color: rgb(100 21 255);
}

.nav__logotitle {
  text-decoration: none;
  color: black;
  transition: all 300ms ease;
}

.nav__logotitle:hover {
  text-decoration: none;
  color: rgb(100, 21, 255);
}

.nav__logolink {
  width: 10%;
}

.btn--signup {
  background-color: rgb(100 21 255);
  padding: 10px 30px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: rgb(100 21 255);
  cursor: pointer;
  transition: all 300ms ease;
}

.btn--signup:hover {
  background-color: rgb(37, 46, 212);
}

/* HEADER */

.login--details {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.login--img {
  display: flex;
  width: 60%;
  padding-left: 30px;
}

.heading,
.para {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 18px;
  margin-bottom: 20px;
}

.subheading {
  font-size: 54px;
  padding-bottom: 25px;
  text-align: center;
  margin: 0 auto;
}

.para {
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  opacity: 0.4;
  line-height: 1.65;
  font-weight: 700;
  margin-bottom: 60px;
}

.text__purple--big {
  font-size: 58px;
  color: rgb(100 21 255);
}

.header__img {
  width: 100%;
}

.landing__title {
  font-size: 48px;
  max-width: 500px;
}

.landing__subtitle {
  font-size: 18px;
  max-width: 600px;
  line-height: 1.65;
  padding: 30px 0px;
}

.email__wrapper {
  position: relative;
}

.emailbox {
  width: 100%;
  max-width: 420px;
  padding: 20px 40% 20px 30px;
  margin-bottom: 15%;
  border-radius: 50px;
  font-size: 18px;
  opacity: 0.5;
  border: 2px solid rgb(208, 206, 211);
  transition: all 300ms ease;
}

.emailbox:hover {
  border: 2px solid rgb(78, 76, 79);
}

.email__button {
  position: absolute;
  top: 6%;
  right: 14%;
  background-color: rgb(100 21 255);
  padding: 15px 0px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  width: 30%;
  border: rgb(100 21 255);
  cursor: pointer;
  transition: all 300ms ease;
}

.email__button:hover {
  background-color: rgb(37, 46, 212);
}

.landing__subpara {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.3;
}

.landing__footer--wrapper {
  display: flex;
  flex-direction: column;
}

.landing__image--wrapper {
  padding-top: 15px;
  width: 100%;
}

.landing__image {
  width: 80%;
  opacity: 0.5;
}

/* Services */

.features__heading {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.features__subheading {
  font-size: 54px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

.features__para {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  opacity: 0.4;
  line-height: 1.65;
  font-weight: 700;
  margin-bottom: 65px;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1050px;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: calc(100% / 3);
  margin-bottom: 40px;
}

.service__features--heading {
  font-size: 24px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.service__features--para {
  font-size: 18px;
  max-width: 220px;
  line-height: 2;
  opacity: 0.5;
  margin-left: 20px;
}

.service__features--logo {
  border: 1px solid rgb(213, 213, 213);
  padding: 20px;
  border-radius: 50px;
}

/* Quality Work */

.quality__details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.quality__heading {
  font-size: 18px;
  margin-bottom: 20px;
}

.quality__subheading {
  font-size: 54px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.quality__para {
  width: 100%;
  max-width: 550px;
  font-size: 18px;
  opacity: 0.4;
  line-height: 1.65;
  font-weight: 700;
  margin-bottom: 40px;
}

.quality__button {
  background-color: rgb(100 21 255);
  padding: 15px 0px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: rgb(100 21 255);
  max-width: 140px;
  cursor: pointer;
  transition: all 300ms ease;
}

.quality__button:hover {
  background-color: rgb(37, 46, 212);
}

.quality__image--wrapper {
  width: 50%;
}

.quality__image {
  width: 100%;
}

/* Steps */

.steps__details {
  width: 50%;
  margin-left: 70px;
}

.steps__heading {
  font-size: 18px;
  margin-bottom: 20px;
}

.steps__subheading {
  font-size: 54px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.steps__image--wrapper {
  width: 50%;
}

.steps__image {
  width: 100%;
}

.steps__list--wrapper {
  display: flex;
  flex-direction: column;
}

.steps__list {
  display: flex;
}

.steps__list--description {
  display: flex;
  flex-direction: column;
}

.steps__list--number {
  opacity: 0.3;
  font-size: 32px;
  margin-top: -4px;
}

.steps__list--heading {
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.steps__list--para {
  font-size: 18px;
  max-width: 420px;
  line-height: 1.65;
  opacity: 0.5;
  margin-left: 20px;
  margin-bottom: 25px;
}

/* Values */

.values__details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.values__heading {
  font-size: 18px;
  margin-bottom: 20px;
}

.values__subheading {
  font-size: 54px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.values__para {
  width: 100%;
  max-width: 550px;
  font-size: 18px;
  opacity: 0.4;
  line-height: 1.65;
  font-weight: 700;
  margin-bottom: 30px;
}

.values__button {
  background-color: rgb(100 21 255);
  padding: 15px 0px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: rgb(100 21 255);
  max-width: 140px;
  cursor: pointer;
  transition: all 300ms ease;
}

.values__button:hover {
  background-color: rgb(37, 46, 212);
}

.values__value {
  margin-right: 25px;
}

.values__image--wrapper {
  width: 50%;
}

.values__image {
  width: 100%;
}

.values--wrapper {
  display: flex;
  max-width: 600px;
  margin-bottom: 50px;
}

.values__value--wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.values__value--image {
  width: 45px;
  height: 40px;
  margin-left: -4px;
}

.values__value--heading {
  padding-left: 10px;
}

.values__value--para {
  max-width: 250px;
  line-height: 1.65;
}

/* Pricing */

.pricing--details {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
}

.pricing__wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.pricing__heading {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.pricing__subheading {
  font-size: 54px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

.pricing__para {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  opacity: 0.4;
  line-height: 1.65;
  font-weight: 700;
  margin-bottom: 65px;
  text-align: center;
}

.pricing__feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pricing__feature1 {
  background: linear-gradient(to bottom, rgb(62, 230, 235) 1%, transparent 2%);
}

.pricing__feature3 {
  background: linear-gradient(to bottom, rgb(240, 127, 131) 1%, transparent 2%);
}

.pricing__feature--odd {
  background-color: rgb(82, 105, 196);
  color: white;
  text-align: center;
}

.pricing__h1 {
  font-size: 48px;
  font-weight: 700;
}

.pricing__h3 {
  font-size: 20px;
}

.pricing__h5 {
  font-size: 16px;
  opacity: 0.3;
}

.pricing__h5--diff {
  font-size: 16px;
}

.pricing__div1 {
  border: 2px solid rgb(237, 237, 237);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pricing__div2--odd {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pricing__list {
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(237, 237, 237);
  border-left: 2px solid rgb(237, 237, 237);
  border-bottom: 2px solid rgb(237, 237, 237);
  justify-content: start;
  width: 300px;
  padding: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pricing__list--odd {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(81, 116, 233);
  border-bottom: 2px solid rgb(81, 116, 233);
  justify-content: start;
  width: 300px;
  padding: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pricing__div3 {
  border-right: 2px solid rgb(237, 237, 237);
  border-left: 2px solid rgb(237, 237, 237);
  border-bottom: 2px solid rgb(237, 237, 237);
  width: 300px;
  padding: 30px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pricing__div3--odd {
  width: 300px;
  padding: 30px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pricing__button1,
.pricing__button2,
.pricing__button3 {
  background-color: rgb(233, 81, 81);
  padding: 20px 0px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: rgb(100 21 255);
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  transition: all 300ms ease;
}

.pricing__button1:hover {
  background-color: rgb(46, 218, 120);
  transform: translateY(2px);
  box-shadow: -5px 5px 10px rgb(195, 194, 196);
}

.pricing__button2:hover {
  background-color: rgb(210, 210, 211);
  transform: translateY(2px);
  box-shadow: -2px 2px 10px rgb(116, 115, 116);
}

.pricing__button3:hover {
  background-color: rgb(223, 46, 60);
  transform: translateY(2px);
  box-shadow: -5px 5px 10px rgb(195, 194, 196);
}

.pricing__button1 {
  background-color: rgb(44, 218, 192);
}

.pricing__button2 {
  background-color: white;
  color: rgb(100, 21, 255);
}

.pricing__button3 {
  background-color: rgb(250, 92, 92);
}

/* Testimonials */

.testimonial__heading {
  font-size: 18px;
  margin-bottom: 20px;
}

.testimonial__subheading {
  font-size: 54px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.testimonial__para {
  width: 100%;
  max-width: 550px;
  font-size: 18px;
  opacity: 0.4;
  line-height: 1.65;
  font-weight: 700;
  margin-bottom: 40px;
}

.ratings {
  padding-bottom: 20px;
}

.testimonial__heading2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.testimonial__para2 {
  font-size: 16px;
  line-height: 1.65;
  margin-bottom: 40px;
}

.testimonials__image--wrapper {
  width: 50%;
}

.testimonials__image {
  width: 100%;
}

.testimonial__details {
  width: 50%;
  margin-left: 50px;
  margin-top: 30px;
}

.testimonial__reviews--wrapper {
  width: 100%;
  max-width: 550px;
  display: flex;
  align-items: center;
  position: relative;
}

.testimonials__reviewer--wrapper {
  width: 15%;
  margin-right: 20px;
}

.testimonials__reviewer {
  width: 100%;
  border-radius: 100px;
}

.reviewer__name {
  font-size: 20px;
  padding-bottom: 5px;
}

.reviewer__role {
  font-size: 16px;
}

.testimonials__button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.testimonials__navigate {
  display: flex;
  position: absolute;
  right: 10px;
}

.testimonials__arrow--img {
  width: 45px;
  padding: 10px;
  background-color: rgb(238, 242, 247);
  border: none;
  border-radius: 50%;
  text-align: center;
  margin-left: 15px;
}

.testimonials__arrow--img1 {
  border-right: 1px solid rgb(234, 234, 234);
  padding-right: 20px;
}

/* FAQS */

.faq__details {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faqs__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 900px;
}

.faqs__faq {
  font-size: 24px;
  padding: 25px 0px 25px 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(230, 230, 236);
  position: relative;
}

.faqs__faq--arrow {
  position: absolute;
  top: 30%;
  right: 5%;
  transform: rotate(90deg);
  font-stretch: ultra-expanded;
}

/* Last Section */

.lastsection__box {
  padding: 80px 130px;
  background-color: rgb(100 21 255);
  border-radius: 10px;
  margin-bottom: 125px;
}

.lastsection__details {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 1200px;
  color: white;
}

.lastsection__heading {
  font-size: 32px;
  max-width: 1000px;
  line-height: 1.65;
}

.lastsection__buttondiv {
    display: flex;
    width: 500px;
}

.lastsection__button1,
.lastsection__button2 {
  background-color: rgb(233, 81, 81);
  padding: 25px 0px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: rgb(100 21 255);
  width: 100%;
  max-width: 175px;
  cursor: pointer;
  transition: all 300ms ease;
}

.lastsection__button1:hover {
  background-color: rgb(191, 38, 51);
}

.lastsection__button2:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(100, 21, 255);
}

.lastsection__button2 {
  margin-left: 30px;
  border: 1px solid rgb(196, 189, 189);
  background-color: rgb(100, 21, 255);
}

/* FOOTER */

footer {
  background-color: rgb(100 21 255);
}

.footer__details--wrapper {
  color: white;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgb(138, 56, 231);
}

.footer__details {
  display: flex;
  flex-direction: column;
}

.footer__details--heading {
  padding-bottom: 20px;
  font-size: 20px;
}

.footer__details--listitem {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 2;
}

li span {
  display: inline-block;
  border-bottom: 2px solid rgb(100, 21, 255);
  transition: all 300ms ease;
  height: 30px;
}

.footer__lowersection {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__image--details {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 150px;
}

.footer__logo--wrapper {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  width: 100%;
}

.footer__image--title {
  font-size: 20px;
  color: white;
  padding-left: 10px;
  width: 90%;
}

.footer__lowersection--para {
  color: white;
  opacity: 0.7;
}

.footer__lowersection--logos {
  width: 30px;
  background-color: white;
  padding: 7px;
  border-radius: 50px;
  margin-left: 10px;
  transition: all 300ms ease;
}

.footer__lowersection--logos:hover {
  background-color: rgb(201, 199, 199);
}

li span:hover {
  border-bottom: 2px solid #fff;
}


/* Responsiveness */

@media (max-width: 768px) {
    .navbar {
        width: 90%;
    }

    .nav__logotitle {
        margin-left: -5px;
    }

    .navbar__list{
        display: none;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .login--details {
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .landing__title {
        font-size: 32px;
    }

    .landing__subtitle {
        font-size: 18px;
        width: 95%;
        padding: 20px 0px;
    }

    .email__wrapper {
        width: 75%;
    }

    .emailbox {
        margin-bottom: 50px;
    }

    .landing__subpara {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .landing__image--wrapper {
        margin-bottom: 10%;
    }

    .login--img {
        width: 80%;
    }

    .email__button {
        right: 5%;
    }

    .features__subheading {
        font-size: 46px;
    }

    .text__purple--big {
        font-size: 46px;
    }

    .features__para {
        font-size: 16px;
        width: 65%;
        margin-bottom: 50px;
    }

    .features {
        width: 88%;
    }

    .feature {
        width: calc(100%/2);
        padding-right: 20px;
    }

    .service__features--heading {
        font-size: 20px;
    }

    .service__features--para {
        font-size: 16px;
    }

    .quality__row {
        display: flex;
        flex-direction: column-reverse;
    }

    .quality__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .quality__subheading {
        font-size: 42px;
        width: 65%;
    }

    .quality__para {
        font-size: 16px;
        width: 65%;
        margin-bottom: 30px;
    }

    .quality__button {
        width: 50%;
    }

    .quality__image--wrapper {
        width: 65%;
        margin-top: -30px;
        border: 1px solid rgb(229, 227, 227);
        margin-bottom: 50px;
    }

    .steps__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80%;
        margin-left: 0px;
        margin-top: 50px;
    }

    .steps__subheading {
        font-size: 42px;
        width: 75%;
    }

    .steps__list--wrapper {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        flex-direction: row;
    }

    .steps__list {
        width: calc(100%/3);
        padding-left: 15px;
    }

    .steps__list--number {
        font-size: 28px;
    }

    .steps__list--description {
        align-items: start;
    }

    .steps__list--heading {
        font-size: 18px;
    }

    .steps__list--para {
        font-size: 16px;
        text-align: start;
    }

    .steps__image--wrapper {
        width: 65%;
    }

    .values__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 85%;
        margin-top: 10%;
    }

    .values--wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .values__value {
        width: 100%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .values__value--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .values__subheading {
        font-size: 42px;
        width: 70%;
    }

    .values__para {
        font-size: 16px;
        width: 85%;
    }

    .values__value--para {
        width: 100%;
        max-width: 350px;
    }

    .values__button {
        width: 50%;
    }

    .values__row {
        display: flex;
        flex-direction: column-reverse;
    }

    .values__image--wrapper {
        width: 65%;
    }

    .pricing--details {
        width: 85%;
        max-width: 700px;
    }

    .pricing__subheading {
        width: 80%;
        font-size: 42px;
    }

    .pricing__para {
        font-size: 16px;
        width: 80%;
    }

    .pricing__wrapper {
        display: flex;
        flex-direction: column;
    }

    .pricing__feature:not(:last-child) {
        margin-bottom: 50px;
    }

    .testimonial__details {
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 65%;
    }

    .testimonials__image--wrapper {
        width: 65%;
    }

    .testimonial__heading {
        margin-top: 50px;
    }

    .testimonial__subheading {
        text-align: center;
        width: 100%;
        padding-bottom: 15px;
        font-size: 42px;
    }

    .testimonial__para, 
    .testimonial__para2 {
        text-align: center;
    }

    .testimonial__para {
        margin-bottom: 50px;
        font-size: 16px;
    }

    .testimonial__para2 {
        width: 90%;
        margin-bottom: 50px;
    }

    .testimonials__arrow--img1 {
        padding: 16px;
    }

    .subheading {
        font-size: 42px;
    }

    .para {
        font-size: 16px;
    }

    .faqs__wrapper {
        width: 75%;
    }

    .faqs__faq--h5 {
        font-size: 16px;
        padding-right: 20%;
    }

    .lastsection__box {
        width: 75%;
        margin-bottom: 15%;
    }

    .lastsection__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 200%;
        margin: -20px;
    }

    .lastsection__buttondiv {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .lastsection__heading {
        padding-right: 0px;
        font-size: 32px;
        max-width: 450px;
        margin-bottom: 20px;
    }

    .lastsection__button2 {
        margin-left: 30px;
        width: 150px;
    }

    .lastsection__button1 {
        width: 150px;
    }

    .footer__details--wrapper {
        width: 85%;
        margin-top: -10px;
    }

    .footer__lowersection {
        width: 85%;
    }
}

@media (max-width: 480px) {
    .navbar {
        width: 85%;
    }

    .nav__logolink {
        width: 12%;
    }

    .login--details {
        width: 85%;
    }

    .landing__title {
        font-size: 30px;
        margin-top: -10%;
    }

    .landing__subtitle {
        font-size: 16px;
    }

    .email__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .emailbox {
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .email__button {
        position: initial;
        width: 100%;
        padding: 20px 0px;
        margin-bottom: 15%;
        font-size: 18px;
    }

    .landing__subpara {
        font-size: 14px;
    }

    .landing__image--wrapper {
        width: 100%;
    }

    .landing__image {
        width: 100%;
    }

    .login--img {
        width: 85%;
        padding: 0px;
    }

    .text__purple--big {
        font-size: 36px;
    }

    .features__heading {
        font-size: 16px;
    }

    .features__subheading {
        font-size: 36px;
        width: 85%;
    }

    .features__para {
        font-size: 14px;
        width: 85%;
    }

    .features {
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .feature__wrapperdiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .service__features--heading {
        margin: 10px 15px 5px;
        font-size: 24px;
    }

    .service__features--para {
        margin: 0;
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
        max-width: 300px;
    }

    .quality__image--wrapper {
        width: 85%;
    }

    .quality__heading {
        font-size: 16px;
        width: 85%;
    }

    .quality__subheading {
        font-size: 36px;
        width: 100%;
        margin: 0;
    }

    .quality__para {
        font-size: 14px;
        width: 85%;
    }

    .steps__image--wrapper {
        width: 85%;
    }

    .steps__heading {
        font-size: 16px;
    }

    .steps__subheading {
        font-size: 36px;
        width: 100%;
        margin: 0;
    }

    .steps__list--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .steps__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 85%;
    }

    .steps__list--number {
        font-size: 36px;
    }

    .steps__list--description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .steps__list:not(:last-child) {
        margin-bottom: 15%;
    }

    .steps__list--heading {
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }

    .steps__list--para {
        font-size: 14px;
        text-align: center;
        margin: 0;  
    }

    .values__image--wrapper {
        width: 85%;
    }

    .values__heading {
        font-size: 16px;
    }

    .values__subheading {
        font-size: 36px;
        width: 100%;
        margin: 0;
    }

    .values__para {
        font-size: 14px;
        width: 100%;
    }

    .values__value--heading {
        font-size: 20px;
    }

    .values__value--para {
        width: 80%;
    }

    .pricing__heading {
        font-size: 16px;
    }

    .pricing__subheading {
        font-size: 36px;
    }

    .pricing__para {
        font-size: 14px;
        width: 100%;
    }

    .testimonials__image--wrapper {
        width: 85%;
    }

    .testimonial__details {
        width: 85%;
    }

    .testimonial__heading {
        font-size: 16px;
    }

    .testimonial__subheading {
        font-size: 36px;
        width: 100%;
        margin: 0;
    }

    .testimonial__para {
        font-size: 14px;
        width: 100%;
    }

    .testimonial__para2 {
        width: 100%;
    } 

    .testimonial__reviews--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .testimonials__reviewer--wrapper {
        margin: 0;
    }

    .testimonials__navigate {
        position: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }

    .testimonials__arrow--img {
        margin-left: 0;
    }

    .testimonials__arrow--img2 {
        padding: 16px;
    }

    .reviewer__name {
        padding-top: 10px;
    }

    .heading {
        font-size: 16px;
    }

    .subheading {
        font-size: 36px;
    }

    .para {
        font-size: 14px;
        width: 85%;
    }

    .faqs__faq:last-child {
        margin-bottom: 0;
    }

    .lastsection__box {
        padding: 100px 40px;
    }

    .lastsection__details {
        width: 100%;
    }
    .lastsection__heading {
        font-size: 24px;
    }

    .lastsection__buttondiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lastsection__button1 {
        padding: 15px;
    }

    .lastsection__button2 {
        margin: 0;
        margin-top: 20px;
        padding: 15px;
    }

    .footer__details--wrapper {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 0px;
    }

    .footer__details {
        width: calc(100%/3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer__details:not(:nth-last-child(12)) {
        margin-bottom: 50px;
    }

    .footer__details--heading {
        font-size: 19px;
    }

    .footer__details--listitem {
        font-size: 14px;
    }

    .footer__lowersection {
        display: flex;
        flex-direction: column;
    }

    .footer__lowersection--para {
        padding: 30px 0px;
    }
}
